#SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="0ccd", ATTRS{idModel}=="00d7", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="adsb.service"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="0ccd", ATTRS{idProduct}=="00d7", RUN+="/bin/systemctl --no-block restart adsb.service"
SUBSYSTEM=="usb", ACTION=="remove", ATTRS{idVendor}=="0ccd", ATTRS{idProduct}=="00d7", RUN+="/bin/systemctl --no-block stop adsb.service"
