# USB ethernet and mass storage
CONFIG_USB_GADGET=y
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y

# remoteproc as modules
CONFIG_REMOTEPROC=y
CONFIG_IMX_REMOTEPROC=m

# rpmsg as modules
CONFIG_RPMSG=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_RPMSG_CHAR=m
CONFIG_HAVE_IMX_RPMSG=y
CONFIG_IMX_RPMSG_PINGPONG=m
CONFIG_IMX_RPMSG_TTY=m
